header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f1f1f1;
  border-bottom: 1px solid #cecece;
  padding: 0 40px;
  overflow: hidden;
}

.logo {
  padding: 5px 8px;
}

.logo a {
  font-size: 26px;
  text-decoration: none;
  font-weight: 700;
  color: black;
}

.navlinks {
  
}

.navlinks ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navlinks ul li {
  float: left;
  padding: 10px 0;
}

.navlinks ul li.active {
  border-bottom: 3px solid blue;
}

.navlinks ul li a {
  text-decoration: none;
  color: blue;
  padding: 20px 15px;
  line-height: 30px;
}

section {
  margin: 20px 40px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f1f1f1;
  border-top: 1px solid #cecece;
  padding: 10px 40px;
  text-align: center;
  overflow: hidden;
}